body, button {
  font-family: 'Source Serif Pro', serif;
}

h1, h2, b {
  font-family: 'Allerta Stencil', monospace;
  font-weight: regular;
}

a {
  color: #A8A9A8;
  text-decoration: underline;
  transition: all 0.2s ease;
}

a:hover {
  color: black;
  transition: all 0.2s ease;
}

.header {
  text-align: center;
  padding: 200px 5% 50px 5%;
  background-color: #F4F4F4;
}

.header .inspo {
  display: block;
  font-size: 12px;
  padding-top: 15px;
}

.content {
  padding: 0 15% 0 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.highlight {
  margin-top: 50px;
  margin-bottom: 50px;
}

.week-highlight {
  color: #EF06BD;
}

.year-highlight {
  color: #EF06BD;
}

.ui.stackable.grid {
  padding: 0 15% 0 15%;
}

.ui.divider {
  margin-top: 50px;
}

canvas {
  width: 125%;
}

.blue-rows {
  font-family: 'Allerta Stencil', monospace;
  font-weight: regular;
  color: #4C6DFE;
}

.green-row {
  font-family: 'Allerta Stencil', monospace;
  font-weight: regular;
  color: #00C412;
}

.name {
  text-align: center;
  font-family: 'Allerta Stencil', monospace;
}
