body, button {
  font-family: 'Source Serif Pro', serif;
}

h1, h2, b {
  font-family: 'Allerta Stencil', monospace;
  font-weight: regular;
}

.header {
  text-align: center;
  padding: 200px 5% 50px 5%;
  background-color: #F4F4F4;
}

.header .inspo {
  display: block;
  font-size: 12px;
  padding-top: 15px;
}

.content {
  padding: 0 15% 0 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.highlight {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ui.stackable.grid {
  padding: 0 15% 0 15%;
}

#container {
  margin-top: 2%;
}

p {
  /* text-indent: 25px; */
}
